<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><%= @title %></title>
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel = "shortcut icon" href="favicon.ico">
</head>
<body>
    <nav class="KazoKey">
        <a href="/"><image src="/KazoKey_logo.png" alt="KazoKey"></a>
    </nav>
    
    <%= yield %>
</body>
</html>
