<div class="container">
    <div class="form-wrapper">
        <form action='/signup' method="post">
            <div class="form-item">
                <label for="name"></label>
                <input type="name" name="name" placeholder="名前を入力"></input>
            </div>
            <div class="form-item">
                <label for="password"></label>       
                <input type="password" name="password" placeholder="パスワードを入力"></input>
            </div>
            <div class="form-item">
                <label for="password"></label>
                <input name="password_confirmation" type="password" placeholder="パスワードをもう一度入力"></input>   
            </div>
            <div class="button-panel">
                <input type="submit" class="button" value="登録"></input>
            </div>
        </form>
        <br>
    </div>
</div>