<div class="container">
  <div class="form-wrapper">
    <h1>ログイン</h1>
    <form action="/signin" method="post">
      <div class="form-item">
        <label for="name"></label>
        <input type="name" name="name"  placeholder="名前を記入"></input>
      </div>
      <div class="form-item">
        <label for="password"></label>
        <input type="password" name="password" placeholder="Password"></input>
      </div>
      <div class="button-panel">
        <input type="submit" class="button" value="ログイン"></input>
      </div>
    </form>
    <br>
    <br>
  </div>
</div>